/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'oswald', 'serif';
}	

h1 {
	letter-spacing: 1px;
}

.header {
	height: 524px;
	background-image: url("http://upload.wikimedia.org/wikipedia/commons/1/16/Wea00816.jpg");
	background-size: cover;
	position: relative;
}

.overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(32, 108, 177, 0.68);
}

.nav {
	position: relative;
	z-index: 1;
	width: 960px;
	margin: 0 auto;
	padding: 20px;
	color: #1D395E;
}

.blog {
	padding-top: 5px;
	display: inline-block;
}

.nav2 {
	float: right;
	padding-bottom: 14px;
	word-spacing: 15px;
	font-size: 18px;
	color: #1D395E;
}
.title {
	position: relative;
	z-index: 1;
	font-size: 87px;
	color: white;
	text-align: center;
	padding-top: 164px;
	letter-spacing: 10px;	
}
.title2 {
	text-align: center;
}

#main {
	height: 100%;
}

.wrapper {	
	margin: 0 auto;
	width: 1000px;
}

.section {
	width: 74%;
 	display: inline-block;
}

.head3{
	font-size: 66px;
	padding-top: 30px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-right: 40px;
	color: #1D395E;
}

.circle-img2 {
	background: url(https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/t1.0-1/c49.35.442.442/s160x160/405737_292174207585504_676335323_n.jpg);
	border-radius: 50px;
	height: 20px;
	width: 20px;
	padding-bottom: 20px;
	background-size: cover;
}

.name {
	padding-left: 40px;
	padding-top: 40px;
	font-size: 13px;	
}

.p1 {
	font-family: 'Asap', sans-serif;
	font-size: 17px;
	color: #7C7F76;
	padding: 20px;
	word-spacing: 2px;
	line-height: 20px;

}

.p2 {
	font-family: 'Asap', sans-serif;
	font-size: 17px;
	color: #7C7F76;
	padding: 20px;
	line-height: 20px;
	word-spacing: 2px;
}

.rad {
	word-spacing: 5px;
	padding-left: 60px;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 30px;
	color: #1D395E;
}

.p3 {
	font-family: 'Asap', sans-serif;
	font-size: 17px;
	padding: 20px;
	color: #7C7F76;
	word-spacing: 2px;
	line-height: 20px;
}
.p4 {
	font-family: 'Asap', sans-serif;
	font-size: 17px;
	padding: 20px;
	color: #7C7F76;
	word-spacing: 2px;
	line-height: 20px;
}

.sidebar {
	padding-top: 100px;
	width: 25%;
 	display: inline-block;
}

.circle-img {
	background: url(https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/t1.0-1/c49.35.442.442/s160x160/405737_292174207585504_676335323_n.jpg);
	border-radius: 50px;
	height: 40px;
	width: 50px;
	padding: 40px;
	background-size: cover;
}

.anne{
	padding-left: 80px;
	color: #1D395E;
}

.tweet {
	word-spacing: 8px;
	font: 5px;
	padding: 20px;
	color: #7C7F76;
}

.side-pic {
	margin-bottom: 0;
	height: 300px;
	width: 250px;
	background-size: cover;
}

.ad {
	text-align: right; 
	font-size: 10px;
	word-spacing: 3px;
}

.side-head {
	color: #1D395E;
	font-size: 18px;
	padding-top: 62px;
	padding-bottom: 10px;
}

.words {
	font-family: 'Asap', sans-serif;
	word-spacing: 5px;
	line-height: 23px;
	font-size: 14px;
	color: #7C7F76;
}

.foot {
	text-align: center;
	font-size: 60px;
	color: #1D395E;
	padding: 50px;
}
.footer {
	display: inline-block;
	vertical-align: top;

}

.footpic {	
	display: inline-block;
	vertical-align: top;
	height: 330px;
	width: 25%;
	float: left;
}

.subfoot {
	margin: 0;
	padding: 80px;
	padding-left: 30px;
	display: block;
	background-color: #1D395E;
}

.subfoot span{
	padding-top: 25px;
	color: #7C7F76;
	font-size:11px;
	letter-spacing: 1px;

}
.subfoot p{
	float: right;
	padding-top: 30	px;
	font-size: 15px;
	word-spacing: 4px;
	color: #7C7F76;
}

.footer {
	background-image: url(http://static2.businessinsider.com/image/4cab99877f8b9aa3417d0000/surfer-kelly-slater-gets-three-percent-stake-in-quiksilver.jpg);
	margin: 0;
	float: left;
	display: inline-block;
	background-size: cover;
	height: 330px;
	width: 25%;
}


.footer2 {
	background-image: url(http://www.activebeergeek.com/wp-content/uploads/2012/02/Beer-paddle.jpg);
	margin: 0;
	float: left;
	display: inline-block;
	background-size: cover;
	height: 330px;
	width: 25%;

}

.footer3 {
	background-image: url(http://www.camelcitydispatch.com/wp-content/uploads/2014/01/zach_galifianakis_wallpaper.jpg);
	display: inline-block;
	margin: 0;
	float: left;
	background-size: cover;
	height: 330px;
	width: 25%;
}

.footer4 {
	background-image: url(https://s3.amazonaws.com/static.texastribune.org/media/images/2013/02/06/Liquors-2_jpg_800x1000_q100.jpg);
	display: inline-block;
	margin: 0;
	float: left;
	background-size: cover;
	height: 330px;
	width: 25%;
}

.pic-text{
	color: #1D395E;
	float: left;
	font-size: 30px;
	padding-top: 260px;
	text-align: bottom;
}

.pic-text:hover {
	color: white;
}

.overlay-image {
	color: rgba(32, 108, 177, 0.68);
	position: relative;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1;
}




